.filterSection {
  background-color: var(--bg-secondary);
  border: 2px solid black;
  border-radius: 14px;
}

.filterHeader {
  background-color: var(--bg-darkish);
  height: 35px;
  width: 250px;
  cursor: pointer;

  display: flex;
  align-items: center;

  border-radius: 12px 0px 14px 0px;
  border: 1px solid black;
}

.filterGraphic {
  background-color: var(--bg-darkish);
  width: 300px;
  height: 90px;
  border: 1px solid black;
  border-radius: 14px;
  cursor: grab;
  display: block;
}

.filterGraphic:active {
  cursor: grabbing;
}

.sectionLayout {
  display: grid;
  grid-template-columns: 1fr auto; /* or 2fr 1fr */
  gap: 12px;
  align-items: stretch;
}

.rightPanelComponents {
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.filterGraphicWithControls {
  display: flex;
}

.filterControlsSection {
  display: flex;
  flex-direction: "column";
  align-items: center;
  justify-content: flex-start;
}

.cutoffSlider {
  width: 10px;
  margin-left: 25px;
}

.resonanceKnob {
  width: 1px;
  height: 1px;
}

.modulationHeader {
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
  width: 105%;
  margin: -4px;
  padding: 1px;
  cursor: pointer;
  background-color: var(--bg-darkish);
  margin-bottom: 4px;
}
