@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap");

.murecho-t {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
