:root {
  /* Backgrounds */
  --bg-primary: #fff1f7; /* lighter pink surface */

  --bg-secondary: #ffb8b8; /* warm rose  #ffbaca;*/
  --bg-dark: #24161b; /* deep wine / near-black */
  --bg-darkish: #531d30;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-offWhite: #fffffe; /* lighter pink surface */
  --bg-separator: #000000cb;

  --outline: #cccccc;
  --stroke: #ffffff;

  /* Accents */
  --accent-primary: #d24a6a; /* strong pink-red */ /* strong pink-red */
  --accent-toggled: #6d0019;
  --accent-hover: #df8fa1; /* brighter hover */
  --accent-active: #b83c5a; /* pressed state */
  --accent-grey: #e4e4e4;
  --accent-outline: #cf7d90;
  --accent-filter-curve: #ffee00;

  /* Controls */
  --control-track: #f0c6d1; /* soft pink track */
  --control-fill: #d24a6a; /* matches accent */
  --control-thumb: #8f2f45; /* darker, punchy thumb */
  --control-disabled: #caa2ad;

  /* Text */
  --text-primary: #1c0e13; /* very dark wine */
  --text-secondary: #4b1f2c; /* muted berry */
  --text-muted: #7a4656; /* rose-muted */
  --text-inverted: #fff6f8; /* warm white */

  /* Status */
  --success: #4fb58c; /* saturated mint-green */
  --warning: #f0b44c; /* golden amber */
  --error: #e04f5f; /* vivid coral-red */

  /* Typography */
  --font-sans: "murecho";
  --font-family-heading: "Permanent Marker", cursive;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
[data-radix-theme] {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.Heading {
  font-family: "Permanent Marker" !important;
}

.Heading,
[data-radix-heading] {
  margin: 0;
}

[data-radix-theme] {
  background-color: var(--bg-dark);
  --font-family-heading: "Permanent Marker", cursive;
  --font-family-body: "Murecho", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.bypassable[data-bypassed] {
  opacity: 0.45;
  filter: grayscale(1);
}

/* Disable all interaction */
.bypassable[data-bypassed] * {
  pointer-events: none;
}

/* Re-enable header interaction + visuals */
.bypassable[data-bypassed] .bypassableHeader,
.bypassable[data-bypassed] .bypassableHeader * {
  pointer-events: auto;
  opacity: 1;
  filter: none;
}
